.kep{
    width: 500px;
    height: 500px;
}
.href{
    text-decoration: none;
    color:white ;
}
.box-2{
    width: 500px;
    height: 40px;
    background-color:#402218 ;
    text-align: center;
}
.box-1{
    width: 500px;
    height: 40px;
    background-color:#C68B59 ;
    text-align: center;

}
